$color-black: #000000;
$color-white: #ffffff;
$color-red: #ac1621;
$color-green: #0d5f4b;

$color-purple: #65627a;
$color-grey: #fafafa;
$color-black: #000000;
$color-darkgreen: #249084;
$arrow-color: #249084;